<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <title>Projeto Academy - Login</title>
  <meta name="author" content="Fabricio Mascarenhas">
  <link rel="stylesheet" href="css/login.css">
  <script src="https://kit.fontawesome.com/006642858d.js"></script>
  <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
      rel="stylesheet">
</head>
<body>
  <div class="Login-Form">
    <div class="container">
      <div class="main-div">
        <div class="alert alert-success" th:if="${mensagemSucesso}" th:text="${mensagemSucesso}"></div>
        <div class="alert alert-danger" th:if="${mensagemErro}" th:text="${mensagemErro}"></div>
        <div class="texto-header">
          <h2>Cadastro de Usuário</h2>
          <p>Crie seu usuário no sistema.</p>
        </div>
        <form method="post" th:action="@{/salvarUsuario}" th:object="${usuario}">
          <div class="form-group">
            <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
            <label class="validation-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
            <label class="validation-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" th:field="*{senha}" placeholder="Insira sua senha">
            <label class="validation-message" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></label>
          </div>

          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <a th:href="@{/}" class="btn btn-info">Voltar</a>
        </form>
      </div>
    </div>
  </div>

</body>
</html>